<div id="<%= dom_id space %>">
  <h1>
    <strong><%= space.city %></strong>
  </h1>
  <p>
    <%= space.address %>
  </p>



  <div class="d-flex justify-content-between mb-5">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= cl_image_tag @space.photos.first.key, height: 500, width: 400, crop: :fill %>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag @space.photos.last.key, height: 500, width: 400, crop: :fill %>
            </div>
            <div class="carousel-item">
              <%= cl_image_tag @space.photos.first.key, height: 500, width: 400, crop: :fill %>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

    <div style="width: 50%; height: 500px;"
      data-controller="map"
      data-map-marker-value="<%= @marker.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>

</div>
