<p style="color: green"><%= notice %></p>
<div class="container">


  <div class="banner mb-3">
    <div class="container">
      <h1>Trouvez l'espace professionnel <br >
      qu'il vous faut !</h1>
      <div id="search">
        <%= form_with url: search_results_path, method: :get, class: "d-flex" do %>
        <select class="form-select" aria-label="Métier" name="space_profession">
          <option selected label="Métier"></option>
          <option value="Coiffure">Coiffure</option>
          <option value="Esthétique">Esthétique</option>
          <option value="Barbier">Barbier</option>
        </select>
        <%= text_field_tag :query,
          params[:query],
          value: "#{params[:query]}",
          class: "form-control",
          placeholder: "Ville"%>
        <select id="durée" class="form-select" aria-label="Durée" name="Durée">
          <option selected label="Durée"></option>
          <option value="1">Jours</option>
          <option value="2">Semaine</option>
          <option value="3">Mois</option>
        </select>
        <%= submit_tag "Rechercher", name: "Ville", class: "btn btn-primary", id: "rechercher" %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="spaces">
    <% @spaces.each do |space| %>
      <%= link_to space_path(space) do %>
        <div class="card-spaces">
          <%= cl_image_tag space.photos.first.key, crop: :fill, class:"listing-img" %>
          <div class="card-title mt-2">
            <%= space.city %>
          </div>
          <div class="card-content d-flex justify-content-between">
            <p>
              <%= space.space_profession %>
            </p>
            <p>
              <strong><%= space.price_per_day %> €/jour</strong>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="contact">
    <h2>Nous Contacter</h2>
    <form>
      <input type="text" placeholder="Nom">
      <input type="email" placeholder="Email">
      <input type="tel" placeholder="Téléphone">
      <textarea placeholder="Message"></textarea>
      <input type="submit" value="Envoyer">
    </form>
  </div>
</div>
