<p style="color: green"><%= notice %></p>
<div class="container">


  <div class="space-title">
    <h2>Nos espaces</h2>
  </div>

  <div id="spaces">
    <% @spaces.each do |space| %>
      <%= link_to space_path(space) do %>
        <div class="card-spaces">
          <%= cl_image_tag space.photos.first.key, crop: :fill, class:"listing-img" %>
          <div class="card-title mt-2">
            <strong><%= space.city %></strong>
          </div>
          <div class="card-content d-flex justify-content-between">
            <p>
              <%= space.space_profession %>
            </p>
            <p>
              <strong><%= space.price_per_day %> €/jour</strong>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="contact">
    <h2>Nous Contacter</h2>
    <form>
      <input type="text" placeholder="Nom">
      <input type="email" placeholder="Email">
      <input type="tel" placeholder="Téléphone">
      <textarea placeholder="Message"></textarea>
      <input type="submit" value="Envoyer">
    </form>
  </div>
</div>
