<!-- Show d'espace -->
<p style="color: green"><%= notice %></p>
<div class="container">
  <%= link_to "<< Retour aux espaces", search_results_path %>

  <div class="container-space">
    <div class="d-flex justify-content-between align-self-center mt-3">
      <div class="adress-show">
        <h1><%= @space.city %></h1>
        <p><%= @space.address %></p>
      </div>
      <div class="adress-show">
        <h1>5 ⭐</h1>
        <p>Voir tous les avis</p>
      </div>
    </div>


    <div class="d-flex flex-row">
      <div class="col-12 col-lg-8 me-5">
        <%= render @space %>
        <div class="mt-4">
          <h3>Métier recherché : <%= @space.space_profession %></h3>
          <p><%= @space.description %></p>
        </div>

        <div style="width: 100%; height: 300px; border-radius: 8px;"
          data-controller="map"
          data-map-marker-value="<%= @marker.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

        <% @space.space_ratings.each do |sr| %>
        <div class="card mt-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><%= sr.rating %> ⭐</h5>
            <p class="card-text"><%= sr.comment %></p>
          </div>
        </div>
        <% end %>
      </div>


      <div class="container">
        <div class="booking-wrapper text-secondary" data-controller="toggle-calendar">
        <h3>Dates de réservation</h3>
          <div class="form-check mb-2 form-switch d-flex align-items-left">
            <label class="form-check-label me-5" for="flexSwitchCheckDefault">À la journée</label>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault", data-toggle-calendar-target="button" data-action="click->toggle-calendar#toggle">
            <label class="form-check-label ms-2" for="flexSwitchCheckDefault">Par période</label>
          </div>
          <%= simple_form_for [@space, @booking_date], html: {data: {toggle_calendar_target: "dayCalendar"} } do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <%= f.input :selected_day, as: :string,
                                    required: false,
                                    label: "Choisissez vos jours",
                                    input_html: { class: "datepicker", data: { controller: "datepicker",datepicker_selected_days_value: @selected_days.to_json, datepicker_disable_value: @selected_days_disable.to_json }, style: "display: none;" } %>
            <%= f.button :submit, "Ajouter à votre réservation", class: "btn btn-primary"%>
          <% end %>
          <%= simple_form_for @booking_date, url: space_booking_dates_path(@space, value: "range"), method: :post, html: {data: {toggle_calendar_target: "rangeCalendar"} } do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
            <%= f.input :selected_day, as: :string,
                                    required: false,
                                    label: "Choisissez votre période",
                                    input_html: { class: "datepicker", data: { controller: "datepicker2", datepicker2_selected_days_value: @selected_days.to_json, datepicker2_disable_value: @selected_days_disable.to_json }, style: "display: none;" } %>
            <%= f.button :submit, "Ajouter à votre réservation", class: "btn btn-primary"%>
          <% end %>
        </div>
        <div class="booking-wrapper text-secondary mt-3">
        <div class="detail-resa">
          <h3> Votre réservation </h3>
        </div>
        <div data-controller="remove-date" data-remove-date-target="list">
          <%= render "shared/list", locals: {selected_days_collection: @selected_days_collection} %>
        </div>
        <div class="detail-resa mt-3">
          <p><strong> Tarifs </strong></p>
          <div class="d-flex justify-content-between">
            <p> Par jour : <%= @space.price_per_day %>€ x <%= @number_of_isolated_days %></p>
            <p> <%= @number_of_isolated_days * @space.price_per_day %>€HT </p>
          </div>
          <div class="d-flex justify-content-between">
            <p> Par semaine : <%= @space.price_per_week %>€ x <%= @number_of_weeks %></p>
            <p> <%= @number_of_weeks * @space.price_per_week %>€HT </p>
          </div>
          <div class="d-flex justify-content-between">
            <p> Par mois : <%= @space.price_per_month %>€ x <%= @number_of_months %></p>
            <p> <%= @number_of_months * @space.price_per_month %>€HT </p>
          </div>
        </div>
        <div class="detail-resa mt-3">
          <p><strong> Détails prix </strong></p>
          <div class="d-flex justify-content-between">
            <p> Total location </p>
            <p> <%= @total_amount %>€HT </p>
          </div>
          <div class="d-flex justify-content-between">
            <p> Frais de service </p>
            <p> <%= (@total_amount * 0.10).to_i %>€HT </p>
          </div>
        </div>
        <div class="detail-resa mt-3">
          <div class="d-flex justify-content-between">
          <p><strong> TOTAL </strong></p>
          <p><strong> <%= (@total_amount + (@total_amount * 0.10)).to_i %>€HT </strong></p>
          </div>
        </div class="mt-3">
          <%= simple_form_for @booking, url: space_bookings_path(@space), method: :post do |form| %>
            <%= form.submit "Valider Ma Commande" , class:"mt-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div id="contact">
      <h3> Laisser un commentaire </h3>
      <%= simple_form_for [@space, @space_rating] do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :comment %>
          <%= f.input :rating %>
        </div>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
