<div class="container chatroom rounded" data-controller="booking-subscription"   data-booking-subscription-booking-id-value="<%= @booking.id %>"
>
  <div class="messages" data-booking-subscription-target="messages">
    <% @booking.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>



  <%= simple_form_for @message, url: messages_path(booking_id: @booking), method: "post",
    html: {data: {action: "turbo:submit-end->chatroom-subscription#resetForm"}, class: "d-flex"} do |f|%>
    <%= f.input :content,
      label: false,
      wrapper_html: {class: "flex-grow-1"}%>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
  <% end %>
</div>
