<div class="navbar navbar-expand-sm navbar-light navbar-lewagon border-bottom border-success border-2">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
    <div class="logo-container">
      <%= image_tag("Logo-Space-Ease.png", alt: "logo", class: "navbar-logo") %>
    </div>
  <% end %>
  <!-- Métier dropdown -->
      <% unless request.path == root_path %>
        <%= render partial: "shared/search" %>
      <% end %>
        <!-- bouton profil navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
        <button type="button" class="btn btn-outline-primary"><%= link_to "Nouvel espace", new_space_path, class: "new" %></button>
          <li class="nav-item dropdown">
            <a href="#" class="avatar ms-1" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Tableau de bord", dashboards_path, class: "dropdown-item" %>
            <%= link_to "Réservations", bookings_dashboards_path, class: "dropdown-item" %>
            <%= link_to "Favoris", favoris_dashboards_path, class: "dropdown-item" %>
            <%= link_to "Gérer mes annonces", owner_dashboards_path, class: "dropdown-item" %>
            <%= link_to "Profil", infos_dashboards_path, class: "dropdown-item" %>
            <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
          </li>
        <% else %>
        <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-regular fa-user avatar fa-2x" style="color: #69F701;"></i>          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown", id="connexion">
            <%= link_to "Connexion/Inscription", new_user_session_path, class: "dropdown-item" %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
