<div class="container">
  <div class="space-title mt-3">
    <h2>Mes réservations</h2>
  </div>
  <div class="row">
    <% current_user.bookings.each do |booking| %>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="booking-wrapper text-secondary mt-3">
          <h4><%= booking.space.city %> • <%= booking.space.space_profession %> </h4>
          <%= cl_image_tag booking.space.photos.first.key, crop: :fill, class:"booking-img" %>
          <div class="detail-resa">
            <p><strong><%= booking.space.address %></strong></p>
            <p>À partir du <%= booking.booking_dates.first %></p>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <p> TOTAL réservation </p>
            <p><strong> <%= booking.total_amount.to_i %>€HT </strong></p>
          </div>
          <div class="d-flex justify-content-between mt-2">
            <button class="button-4" role="button"><%= booking.status %></button>
            <button class="button-voir" role="button">Voir détails</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
