<div class="container">
  <div class="space-title mt-3">
    <h2>Mes réservations</h2>
  </div>
  <div class="row">
    <% current_user.bookings.each do |booking| %>
      <div id="booking-card-link" class="col-lg-4 col-md-6 col-sm-12">
          <div class="booking-wrapper mt-3 booking">
            <%= link_to space_booking_path(booking.space, booking) do %>
            <h4><%= booking.space.city %> • <%= booking.space.space_profession %> </h4>
            <%= cl_image_tag booking.space.photos.first.key, crop: :fill, class:"booking-img" %>
            <div class="detail-resa">
              <p><strong><%= booking.space.address %></strong></p>
              <p>À partir du <%= booking.booking_dates.first.selected_day.strftime("%d/%m/%Y") %></p>
            </div>
            <div class="d-flex justify-content-between mt-2 text-gray">
              <p> TOTAL réservation </p>
              <p><strong> <%= booking.total_amount.to_i %>€HT </strong></p>
            </div>
            <div class="d-flex justify-content-between">
              <button class="button-4" role="button"><%= booking.status %></button>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
