<h1>Dashboard</h1>

<ul>
  <li> <%= link_to "Infos", infos_dashboards_path %></li>
  <li> <%= link_to "Réservations", bookings_dashboards_path %></li>
  <li> <%= link_to "Favoris", favoris_dashboards_path %></li>
  <li> <%= link_to "Vous avez repéré un lieu ?", wishspace_dashboards_path %></li>
  <li> <%= link_to "Espace propriétaire", owner_dashboards_path %></li>
</ul>
