<div class="container">
  <h2>Gestion des réservations</h2>

  <div class="container-space">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">À valider</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">À venir</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Terminées</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-rejected-tab" data-bs-toggle="pill" data-bs-target="#pills-rejected" type="button" role="tab" aria-controls="pills-rejected" aria-selected="false">Refusées</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <table class="full-width-table">
          <tr class="table-header">
            <th scope="col">Accepter</th>
            <th scope="col">Refuser</th>
            <th scope="col">À partir du</th>
            <th scope="col">Freelance</th>
            <th scope="col">Nbre de jours</th>
            <th scope="col">Versement total</th>
            <th scope="col">Détails</th>
          </tr>
          <% @pendings.each do |booking| %>
            <tr class="table-row">
              <td>
                <%= simple_form_for booking, url: booking_path(booking, value: "accepter"), method: :patch do |form| %>
                  <button type="submit" class="custom-button">
                    <i class="fa-solid fa-circle-check"></i>
                  </button>
                <% end %>
              </td>
              <td>
                <%= simple_form_for booking, url: booking_path(booking, value: "refuser"), method: :patch do |form| %>
                  <button type="submit" class="reject-button">
                    <i class="fa-solid fa-circle-xmark"></i>
                  </button>
                <% end %>
              </td>
              <td><%= booking.booking_dates.first.selected_day.strftime("%d/%m/%Y") %></td>
              <td><%= booking.user.company_name %></td>
              <td><%= booking.booking_dates.count %></td>
              <td><%= booking.total_amount.to_i %>€HT</td>
              <td><%= link_to space_booking_path(booking.space, booking) do %>
                    <i class="fa-solid fa-circle-plus"></i>
                  <% end %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <table class="full-width-table">
          <tr class="table-header">
            <th scope="col">À partir du</th>
            <th scope="col">Freelance</th>
            <th scope="col">Nbre de jours</th>
            <th scope="col">Versement total</th>
            <th scope="col">Détails</th>
            <th scope="col">Annuler</th>
          </tr>
          <% @accepted.each do |booking| %>
          <tr class="table-row">
            <td><%= booking.booking_dates.first.selected_day.strftime("%d/%m/%Y") %></td>
            <td><%= booking.user.company_name %></td>
            <td><%= booking.booking_dates.count %></td>
            <td><%= booking.total_amount.to_i %>€HT</td>
            <td><%= link_to space_booking_path(booking.space, booking) do %>
                  <i class="fa-solid fa-circle-plus"></i>
                <% end %></td>
            <td><% unless booking.rejected? %>
              <%= simple_form_for booking, url: booking_path(booking, value: "refuser"), method: :patch do |form| %>
              <button type="submit" class="reject-button">
                <i class="fa-solid fa-circle-xmark"></i>
              </button>
              <% end %>
            <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <table class="full-width-table">
          <tr class="table-header">
            <th scope="col">À partir du</th>
            <th scope="col">Freelance</th>
            <th scope="col">Nbre de jours</th>
            <th scope="col">Versement total</th>
            <th scope="col">Détails</th>
          </tr>
          <% @archived.each do |booking| %>
          <tr class="table-row">
            <td><%= booking.booking_dates.first.selected_day.strftime("%d/%m/%Y") %></td>
            <td><%= booking.user.company_name %></td>
            <td><%= booking.booking_dates.count %></td>
            <td><%= booking.total_amount.to_i %>€HT</td>
            <td><%= link_to space_booking_path(booking.space, booking) do %>
                  <i class="fa-solid fa-circle-plus"></i>
                <% end %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="tab-pane fade" id="pills-rejected" role="tabpanel" aria-labelledby="pills-rejected-tab">
        <table class="full-width-table">
          <tr class="table-header">
            <th scope="col">À partir du</th>
            <th scope="col">Freelance</th>
            <th scope="col">Nbre de jours</th>
            <th scope="col">Versement total</th>
            <th scope="col">Détails</th>
            <th scope="col">Accepter</th>
          </tr>
          <% @rejected.each do |booking| %>
          <tr class="table-row">
            <td><%= booking.booking_dates.first.selected_day.strftime("%d/%m/%Y") %></td>
            <td><%= booking.user.company_name %></td>
            <td><%= booking.booking_dates.count %></td>
            <td><%= booking.total_amount.to_i %>€HT</td>
            <td><%= link_to space_booking_path(booking.space, booking) do %>
                  <i class="fa-solid fa-circle-plus"></i>
                <% end %>
            </td>
            <td><% unless booking.accepted? %>
                <%= simple_form_for booking, url: booking_path(booking, value: "accepter"), method: :patch do |form| %>
                  <button type="submit" class="custom-button">
                    <i class="fa-solid fa-circle-check"></i>
                  </button>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <h2 class="mt-4">Mes Espaces</h2>
   <div class="row">
    <% current_user.spaces.each do |owner_space| %>
    <div id="booking-card-link"class="col-lg-3 col-md-6 col-sm-12 booking">
      <%= link_to space_path(owner_space, @space) do %>
        <div class="booking-wrapper text-secondary mt-3" id="espaces">
          <h4><%= owner_space.city %> • <%= owner_space.space_profession %> </h4>
          <%= cl_image_tag owner_space.photos.first.key, crop: :fill, class:"booking-img" %>
          <p><%= owner_space.address %></p>
          <div class="d-flex justify-content-between mt-2">
            <%= link_to "Modifier", edit_space_path(owner_space), class:"btn btn-outline-dark" %>
            <%= link_to "Effacer", space_path(owner_space), class: "btn btn-outline-danger", remote: true, data: { turbo_confirm: "Êtes vous sur ?", turbo_method: :delete } %>
          </div>
         </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= link_to "Déposer une annonce", new_space_path %>
</div>
